header{
    background-image: url(images/header-bg4.jpg);
    height: 35em;
    width: 100%;
}
hr{
    color: orangered;
    border: 3px solid orangered;
}
h1, span{
    color: #FF5E19;
}
footer{
    height:80px;
}